header {
    font-size: 1.8rem;
}

header .navbar-brand {
    font-size: 2.2rem;
}

main {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 40px;
}

main h1 {
    text-align: center;
    margin: 0 0 40px;
    color: brown;
}

main h2 {
    margin: 5px 0;
    color: brown;
}

section.coworkings {
    background-color: #f5f5f5;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 10px;
}

section.coworkings p {
    margin: 10px 0;
    font-size: 1.2rem;
}

button {
    padding: 5px 10px;
    border: 1px solid brown;
    border-radius: 5px;
    color: brown;
}

button:hover {
    background-color: brown;
    color: white;
}

.sous-titre {
    font-weight: 500;
    font-style: italic;
}

/* Zone de filtre */

.filtre {
    background-color: #f5f5f5;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 10px;    
}

.tri {
    padding: 0 20px;
    margin: 5px 0;
}

.tri span {
    margin-right: 10px;;
}

.tri label {
    margin: 0 10px;
}

.create {
    background-color: #f5f5f5;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 10px;  
}

.create form > div {
    margin-bottom: 10px;
}

.create input {
    margin-left: 10px;
}

.sous-titre-create {
    display: inline-block;
    width: 100px;
}

.reponse {
    font-size: 3rem;
    text-align: center;
}

.validBox {
    background-color: white;
    border: 1px solid #858585;
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
}

.validBox h2 {
    margin-bottom: 10px;
}